.four-0-four-imge{
    display: block;
    margin: 60px auto;
}
.four-0-for-p{
    text-align: center;
    text-transform: capitalize;
    color: #928f8f;
}
.four-0-for-p a{
    color: #383838;
}